In [ ]:
from env import host, username, password, get_db_url
import os
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
from pandas_profiling import ProfileReport
import mitosheet
import lux

from scipy import stats

from sklearn.feature_selection import SelectKBest, f_regression, RFE
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error, r2_score

from clean import acquire_zillow_data, prepare_zillow, wrangled_zillow, scale_data, describe_data

In [ ]:
df = acquire_zillow_data()

In [ ]:
train, validate, test = prepare_zillow(df)

In [ ]:
train, validate, test = scale_data(train, validate, test)

In [ ]:
describe_data(train)

In [ ]:
def plot_variable_pairs(train, cols, hue=None):
    '''
    This function takes in a df, a list of cols to plot, and default hue=None 
    and displays a pairplot with a red regression line.
    '''
    plot_kws={'line_kws':{'color':'red'}, 'scatter_kws': {'alpha': 0.7}}
    sns.pairplot(train[cols], hue=hue, kind="reg",plot_kws={'line_kws':{'color':'red'}, 'scatter_kws': {'alpha': 0.1}})
    plt.show()

In [ ]:
#train['county_name'] = train.county_name.apply(lambda fips: '0' + str(int(fips)))

In [ ]:
describe_data(train)

In [ ]:
#train['county_name'].replace({'06037': 'los_angeles', '06059': 'orange', '06111': 'ventura'}, inplace=True)

In [ ]:
# populate the list of numeric attributes and categorical attributes

num_list = []
cat_list = []

for column in train: 
    if pd.api.types.is_numeric_dtype(train[column]):
        num_list.append(column)
    elif pd.api.types.is_string_dtype(train[column]):
        cat_list.append(column)
        
print(num_list)
print(cat_list)

In [ ]:
# now to bin age into quarter centuries.

In [ ]:
plot_variable_pairs(train, num_list)

In [ ]:
sns.jointplot(y="tax_value", x="baths", data=train, kind='reg', line_kws={'color': 'red'})
plt.show()

In [ ]:
df.dtypes

In [ ]:
train['tax_value'].value_counts()

In [ ]:
train

In [ ]:
profile = ProfileReport(train)

In [ ]:
profile

In [ ]:
target = 'tax_value'

In [ ]:
train.ndim

In [ ]:
train.size

In [ ]:
train.shape

In [ ]:
train.infer_objects()
# Lux detects that the attribute 'yearbuilt' may be temporal.
#To display visualizations for these attributes accurately, please convert temporal attributes to Datetime objects.
#For example, you can convert a Year attribute (e.g., 1998, 1971, 1982) using pd.to_datetime by specifying the `format` as '%Y'.
         # Might this be a better approach than creating an age column? Time will tell. Hehe, get it?

In [ ]:
df['yearbuilt'] = pd.to_datetime(df['yearbuilt'], format='<replace-with-datetime-format>')

In [ ]:
train.duplicated